<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email-subscription</title>
</head>
<body>
    {{message}}
    <form method="POST" action="subscribe">
        <label for="email">Enter Email to subscribe:</label>
        <input type="text" name="email" id="email"><br>

        <button type="submit">Subscribe</button>
    </form>
</body>
</html>